@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">
    A Fadami é uma fábrica de software de alta qualidade, especializada de sistemas direcionados a concessionárias de rodovias.

    <br />Com mais de 10 anos entregando soluções de eficientes e de alta qualidade, a equipe Fadami tem expertise no desenvolvimento ágil e otimização <br />de soluções e processos que geram requisitos efetivos.
    <br />Esses requisitos quando alinhados aos mais modernos recursos tecnológicos, resultam em softwares sólidos, seguros, de alto desempenho e que agregam valor ao negócio.

    <br />Não vendemos apenas sistemas, disponibilizamos todos os recursos necessários para a implementação completa da melhor solução tecnológica.
    <br />
    <br />
    <br />

    <a href="https://fadami.net.br/" class="titulao">Site Oficial</a>
</div>